<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>My HTML Page</title>
  <link rel="stylesheet"  href="static/css/footer.css">
</head>
<nav class="navbar navbar-expand navbar-dark" style="background-color: #29487d;">
    <div class="container">
      <a class="navbar-brand" href="/">Fakebook</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto">
          <li>
              <a class="nav-link" href="newsfeed">Newsfeed</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
<body>

 {{{content}}}
 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
<footer class="site-footer bg-dark text-muted">
  <div class="container">
    <div class="row ">
      <div class="col-sm-12 mt-5">
        <h5><i> It's what you share. </i></h5>
        <p class="text-justify">Fakebook is an application that uses HapiJS to serve information from our restAPI in JAVA Spring. We hope you enjoy everything our website has to offer</p>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12 mb-5">
        <i class="fab fa-github">   </i><a id="github-link" href="https://github.com/2011-nov02-net/project2-fakebook">Github</a>
      </div>
    </div>
  </div>
</footer>
</html>
