<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      Hi {{user.first_name}}
      <img src="{{user.profile_picture}}" />
    </div>

    <div class="col-md-7">
      <form action="/newsfeed" method=POST>
        <textarea rows="5" class="form-control" id="content" placeholder="What's on your mind, {{user.first_name}}" type="text" name="content"></textarea>
        <input type="hidden" name="userId" value="1">
        <input class="mb-4 btn btn-primary btn-lg btn-block" type="submit" value="submit">
      </form>
      {{#each posts}}

        <div class="card mb-1">
          <div class="card-body">
            <h4 class="card-title"> {{this.userId}} </h4>
              <p class="card-text"><small class="text-muted">{{this.date}}</small></p>
              <div class="card-body">
                <p>{{this.content}}</p>
              </div>
          </div>
        </div>
      {{/each}}


    </div>
  </div>
</div>
